
label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #1A2226;

}

.h6 {

    display: inline-block;
    margin-bottom: .5rem;
    color: #1A2226;
    margin-bottom: 0px;

}

.h2 {
    display: inline-block;
    margin-bottom: .5rem;
    color: #1A2226;
}

.login-box {
    margin-top: 75px;
    height: auto;
    background-image:linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%,#e3eeff 100%);
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 80px;
    font-size: 80px;
    line-height: 80px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title h1 {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #1A2226;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}


.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm {
    float: center;
}

.login-button {
    padding-right: 0px;
    text-align: center;
    margin-bottom: 25px;
}

.login-text {
    text-align: center;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}

h1 {
    text-align: center;
}



#myBtn {
    background-color: #ccffff;
    width: 130px;
    height: 70px;
    margin-top: 100px;
    margin-right: 550px;
    float: right;
    border-radius: 15px;
    font-size: 15px;
}

#myBtn:hover {
    background-color: #ff0000;
    color: white;
}

.close:hover,
.close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    outline: none;
}

.switch input {
    position: absolute;
    top: -99999px;
    left: -99999px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}